<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab3"></ion-back-button>
    </ion-buttons>
    <ion-title>Shelter Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item>
      <ion-label>Shelter Name: </ion-label>
      <ion-input
        required
        type="text"
        [(ngModel)]="shelter.Name"
        readonly
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Shelter Address: </ion-label>
      <ion-input
        required
        type="text"
        [(ngModel)]="shelter.Address"
        readonly
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Shelter Supply Condition: </ion-label>
      <ion-input
        required
        type="text"
        [(ngModel)]="shelter.Condition"
        readonly
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Shelter Capacity: </ion-label>
      <ion-input
        required
        type="text"
        [(ngModel)]="shelter.Population"
        readonly
      ></ion-input>
    </ion-item>
</ion-list>

  <div id="map_canvas">
  </div>
</ion-content>
