<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center" color="light">
      Help Page
    </ion-title>

    <ion-button slot="end" *ngIf="afAuth.auth.currentUser" (click)="signOut()">
      Sign Out
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 align="center">How to use this app</h1>

  <ion-card>
    <ion-card-content slot>
      <p>
        <b>Map View Information:</b>
        <br />
        The map view in this application is created so that any user may view
        the shelters on the map, while also providing the user's location in
        relation to the shelters.
        <br />
        <b>Shelter View Information:</b>
        <br />
        The shelter view in this application is created so that any user may
        view a list of available shelters. A user may chose to select a specific
        shelter and gain some more information regarding the shelter's
        availability and supply levels.
        <br />
        <b>How to Log In (Data Entry Only):</b>
        <br />
        If you are a member of the Emergency Disaster System team, your log-in
        information should have been provided. If you forget your log-in
        information or are unable to log-in, please contact an administrator so
        that information may be recovered. Please log in so that you may
        continue completing your task.
      </p>
    </ion-card-content>
  </ion-card>
  <firebase-ui></firebase-ui>
</ion-content>

