<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab3"></ion-back-button>
    </ion-buttons>
    <ion-title>Supply Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item>
      <ion-label>Shelter Name:</ion-label>
      <ion-input
        required
        type="text"
        placeholder="Name"
        [(ngModel)]="supply.Name"
        readonly
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><h2>Shelter Address:</h2></ion-label>
      <ion-input
        required
        type="text"
        placeholder="Address"
        [(ngModel)]="supply.Address"
        readonly
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><h2>Max Population:</h2></ion-label>
      <ion-input
        required
        type="number"
        placeholder="Max Population"
        [(ngModel)]="supply.Max_Population"
        readonly
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><h2>Shelter Condition:</h2></ion-label>
      <ion-input
        required
        type="string"
        placeholder="Shelter Condition"
        [(ngModel)]="supply.Shelter_Condition"
        readonly
      >
      </ion-input>
      <ion-button color="danger" [routerLink]="['/request-supplies']" *ngIf="supply.Shelter_Condition== 'Critical'">
        <ion-icon slot="end" name="warning"></ion-icon>
          Request Supplies
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label><h2>Estimated Delivery:</h2></ion-label>
      <ion-input
        required
        type="string"
        placeholder="Delivery Time"
        [(ngModel)]="supply.Delivery_Time"
        readonly
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label><h2>Water Bottles(16oz,24pk):</h2></ion-label>
      <ion-input
        class="shadedInput"
        required
        type="number"
        placeholder="Water Bottles(16oz,24pk)"
        [(ngModel)]="supply.WaterBottles_24pk_16oz"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><h2>Water Purification Tablets (20pk):</h2></ion-label>
      <ion-input
        class="shadedInput"
        required
        type="number"
        placeholder="Water Purification Tablets (20pk)"
        [(ngModel)]="supply.WaterPurificationTablets_20pk"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><h2>Canned Chicken(7oz, 8pk):</h2></ion-label>
      <ion-input
        class="shadedInput"
        required
        type="number"
        placeholder="Canned Chicken(7oz, 8pk)"
        [(ngModel)]="supply.Canned_Chicken_7oz_8pk"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><h2>Canned Tuna(7oz,12pk):</h2></ion-label>
      <ion-input
        class="shadedInput"
        required
        type="number"
        placeholder="Canned Tuna(7oz,12pk)"
        [(ngModel)]="supply.Canned_Tuna_7oz_12pk"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><h2>Canned Spam(12oz,8pk):</h2></ion-label>
      <ion-input
        class="shadedInput"
        required
        type="number"
        placeholder="Canned Spam(12oz,8pk)"
        [(ngModel)]="supply.Canned_Spam_12oz_8pk"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><h2>Beef Veg Soup(10.75oz,12pk):</h2></ion-label>
      <ion-input
        class="shadedInput"
        required
        type="number"
        placeholder="Soup: Beef Vegetable(10.75, 12pk)"
        [(ngModel)]="supply.Canned_Soup_Beef_Vegetable_11oz_12pk"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><h2>Chicken Noo(10.75oz,12pk):</h2></ion-label>
      <ion-input
        class="shadedInput"
        required
        type="number"
        placeholder="Soup: Chicken Noodle(10.75, 12pk)"
        [(ngModel)]="supply.Canned_Soup_Chicken_Noodle_11oz_12pk"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><h2>Beets (106oz):</h2></ion-label>
      <ion-input
        class="shadedInput"
        required
        type="number"
        placeholder="Beets 106oz"
        [(ngModel)]="supply.Canned_Vegetable_Beets_106oz"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><h2>Carrots (106oz):</h2></ion-label>
      <ion-input
        class="shadedInput"
        required
        type="number"
        placeholder="Carrots 106oz"
        [(ngModel)]="supply.Canned_Vegetable_Carrot_106oz"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><h2>Corn (106oz):</h2></ion-label>
      <ion-input
        class="shadedInput"
        required
        type="number"
        placeholder="Corn 106oz"
        [(ngModel)]="supply.Canned_Vegetable_Corn_106oz"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><h2>Green Beans (106oz):</h2></ion-label>
      <ion-input
        class="shadedInput"
        required
        type="number"
        placeholder="Green Beans 106oz"
        [(ngModel)]="supply.Canned_Vegetable_GreenBean_106oz"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><h2>Mixed Vegetable (106oz):</h2></ion-label>
      <ion-input
        class="shadedInput"
        required
        type="number"
        placeholder="Mixed Vegetable 106oz"
        [(ngModel)]="supply.Canned_Vegetable_Mixed_106oz"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><h2>Wheat Crackers (8pk):</h2></ion-label>
      <ion-input
        class="shadedInput"
        required
        type="number"
        placeholder="Wheat Crackers 8pk"
        [(ngModel)]="supply.Crackers_Wheat_8pk"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><h2>Original Crackers (8pk):</h2></ion-label>
      <ion-input
        class="shadedInput"
        required
        type="number"
        placeholder="Original Crackers 8pk"
        [(ngModel)]="supply.Crackers_Original_8pk"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><h2>Granola Bars (2pk):</h2></ion-label>
      <ion-input
        class="shadedInput"
        required
        type="number"
        placeholder="Granola Bars 2pk"
        [(ngModel)]="supply.Dry_Granola_Bars_2pk"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><h2>Salted Peanuts (1oz,48pk):</h2></ion-label>
      <ion-input
        class="shadedInput"
        required
        type="number"
        placeholder="Salted Peanuts 1oz, 48pk"
        [(ngModel)]="supply.Package_SaltedPeanuts_48pk_1oz"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><h2>Mixed Nuts (1oz,48pk):</h2></ion-label>
      <ion-input
        class="shadedInput"
        required
        type="number"
        placeholder="Mixed Nuts 1oz, 48pk"
        [(ngModel)]="supply.Package_MixedNuts_48pk_1oz"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><h2>Trail Mix 2oz, 24pk:</h2></ion-label>
      <ion-input
        class="shadedInput"
        required
        type="number"
        placeholder="Trail Mix 2oz, 24pk"
        [(ngModel)]="supply.Package_TrailMix_24pk_2oz"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><h2>Peanut Butter (16oz):</h2></ion-label>
      <ion-input
        class="shadedInput"
        required
        type="number"
        placeholder="Peanut Butter 16oz"
        [(ngModel)]="supply.Peanut_Butter_16oz"
      ></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="saveSupply()">Save</ion-button>
</ion-content>

